.logout-icon{
    color: yellow;
    font-size: 30px;
    padding: 8px;
    margin-right: 25px;
    cursor: pointer;
}

.user-login {
    font-size: 15px;    
    padding: 8px;
    margin-right: 25px;
}

.logo {
    background-color: white;
    cursor: pointer;
    padding: 4px;
    border-radius: 25px;
}
