.flight-container {
    padding-top: 40px;
}

#new-flight-btn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 15px;
}

#mod-txt {
    margin-top: -10px;
    color: rgb(104, 23, 66);
}

#mod-sym {
    color: rgb(3, 82, 3);
    margin-top: -10px;
    padding-left: 13px;
}