<div class="row">
    <div class="col">
        <h3>
            <b>Flight Details</b>
            <button  mat-raised-button class="btn btn-danger float-right" (click)="close()">
                <mat-icon>close</mat-icon>
            </button>
        </h3>
        <p class="label">Code: {{ flight.code }}</p>
        <p class="label">Crew:</p>
        <ul>
            <li *ngFor="let member of flight.crew">
                {{ member.name }}  -  {{ member.job }}
            </li>
        </ul>
        <button mat-raised-button color="primary" class="float-right" (click)="editFlight()">edit flight</button>
    </div>
</div>
